In [30]:
import pandas as pd

In [31]:
df=pd.read_csv(r'D:\作业\python数据分析\ch2\data\white_wine.csv',encoding='gbk')
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [32]:
uni=df['quality'].unique()
uni

array([6, 5, 7, 8, 4, 3, 9], dtype=int64)

In [37]:
# data_1=df.loc[df['quality']==3,:]
data_1=df.loc[df['quality']==3,:]
data_2=df.loc[df['quality']==4,:]
data_3=df.loc[df['quality']==5,:]
data_4=df.loc[df['quality']==7,:]
data_5=df.loc[df['quality']==8,:]
data_6=df.loc[df['quality']==9,:]
data_7=df.loc[df['quality']==6,:]

In [38]:
df['num']=1
df=df.groupby('quality').count()
df['num']

quality
3      14
4     115
5    1020
6    1539
7     616
8     123
9       4
Name: num, dtype: int64

In [40]:
data=[data_1['fixed acidity'],data_2['fixed acidity'],data_3['fixed acidity'],data_4['fixed acidity'],data_5['fixed acidity'],data_6['fixed acidity'],data_7['fixed acidity']]
for i in data:
    print(i.mean())

7.535714285714286
7.052173913043478
6.907843137254902
6.755844155844157
6.708130081300812
7.5
6.8120857699805075

In [31]:
import pandas as pd
from sklearn.datasets import load_iris
iris_data=load_iris()
iris_data.keys()
feature=['data', 'target', 'frame', 'target_names']
df=pd.DataFrame(iris_data['data'],index=None,columns=feature)
df

     data  target  frame  target_names
0     5.1     3.5    1.4           0.2
1     4.9     3.0    1.4           0.2
2     4.7     3.2    1.3           0.2
3     4.6     3.1    1.5           0.2
4     5.0     3.6    1.4           0.2
..    ...     ...    ...           ...
145   6.7     3.0    5.2           2.3
146   6.3     2.5    5.0           1.9
147   6.5     3.0    5.2           2.0
148   6.2     3.4    5.4           2.3
149   5.9     3.0    5.1           1.8

[150 rows x 4 columns]

In [35]:
df.drop_duplicates()    # 去除重复值

     data  target  frame  target_names
0     5.1     3.5    1.4           0.2
1     4.9     3.0    1.4           0.2
2     4.7     3.2    1.3           0.2
3     4.6     3.1    1.5           0.2
4     5.0     3.6    1.4           0.2
..    ...     ...    ...           ...
145   6.7     3.0    5.2           2.3
146   6.3     2.5    5.0           1.9
147   6.5     3.0    5.2           2.0
148   6.2     3.4    5.4           2.3
149   5.9     3.0    5.1           1.8

[149 rows x 4 columns]

In [36]:
df.describe()

             data      target       frame  target_names
count  150.000000  150.000000  150.000000    150.000000
mean     5.843333    3.057333    3.758000      1.199333
std      0.828066    0.435866    1.765298      0.762238
min      4.300000    2.000000    1.000000      0.100000
25%      5.100000    2.800000    1.600000      0.300000
50%      5.800000    3.000000    4.350000      1.300000
75%      6.400000    3.300000    5.100000      1.800000
max      7.900000    4.400000    6.900000      2.500000

AttributeError: 'numpy.ndarray' object has no attribute 'describe'